.top-bar
    display: flex
    flex-direction: row
    margin-left: 1rem
    width: 70%
    justify-content: space-evenly

    .progress-bar
        background-color: white
        width: 50%
        height: 0.7rem
        border-radius: 10px
